<!DOCTYPE html>
</html>	
<head>
	<title>Project Title</title>
	<meta charset="UTF-8">
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<a href="/">Home</a>
	<a href="/new_note">New Meeting Notes</a>
	<a href="/notes">Past Meeting Notes</a>
	<a href="/weather">Weather forecast</a>
	<h1>Promoting cultural food heritage to youths in Singapore</h1>
	<p>This project aims to educate youths on our food cultural heritage and teach them to appreciate it</p>

	
	<h2>My Group members:</h2>
	<table border="1">
		<tr>
			<td><img src="static/Cheng Xu Jie.jpg" alt="Cheng Xu Jie" width="200px"></td>
			<td><img src="static/Nguyen Dinh Anh.jpg" alt="Nguyen Dinh Anh" width="200px"></td>
			<td><img src="static/Ricardo Delario.jpg" alt="Ricardo Delario" width="200px"></td>
			<td><img src="static/Toh Heng Yi.jpg" alt="Jorsche Dylan Ding Ze Xue" width="200px"></td>
			<td><img src="static/Toh Heng Yi.jpg" alt="Toh Heng Yi" width="200px"></td>
		</tr>
		<tr>
			<td>Cheng Xu Jie</td>
			<td>Nguyen Dinh Anh</td>
			<td>Ricardo Delario</td>
			<td>Jorsche Dylan Ding Ze Xue</td>
			<td>Toh Heng Yi</td>
		</tr>
	
	
	</table>
	

</body>



</html>