<!DOCTYPE html>	
</html>	
<head>
	<title>Past Meeting Notes</title>
	<meta charset="UTF-8">
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<a href="/">Home</a>
	<a href="/new_note">New Meeting Notes</a>
	<a href="/notes">Past Meeting Notes</a>
	<a href="/weather">Weather forecast</a>
	
	<table>
		<tr>
			<th>Date</th>
			<th>Venue</th>
			<th>Meeting Notes</th>
			<th>Actions to Take</th>
		</tr>
		{% for data in datas %}
		<tr>
			<td>{{ data[0] }}</td>
			<td>{{ data[1] }}</td>
			<td>{{ data[2] }}</td>
			<td>{{ data[3] }}</td>
		</tr>
		{% endfor %}
		
	
	</table>
	
</body>
</html>